address {color:aliceblue;
    font-size:20px;
}
body {
    background-color: rgb(22, 17, 94);
text-shadow: 10px;}
h2 {color: rgb(26, 172, 82);
font-size: 40px;}
h1 {
    color: aliceblue;
font-size: 55px;}
div,p{font-size: 20px; 
    color:aliceblue;}
h3 {
    font-size: 25px;
    color:aliceblue;
}
footer{ color:rgb(212, 31, 100);
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}
img {
    width:320px;
    
}
header {text-align: center;}
#GH {padding-right: 30px;}
#LI {padding-right: 30px;}